GarageDoorNodeRedFlow.json
[{"id":"22779578.f3d32a","type":"tab","label":"Garage Door Monitor","disabled":false,"info":""},{"id":"ee670a5e.b978d8","type":"tab","label":"Buzzer Off","disabled":false,"info":""},{"id":"14c979b.b790786","type":"slack-config","z":"","name":"Now-CC18-Demo"},{"id":"46106c09.7bd9c4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Garage Door monitor","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9d55f959.2ec718","type":"ui_tab","z":"","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"56844deb.6e0504","type":"ui_group","z":"","name":"Status","tab":"9d55f959.2ec718","order":1,"disp":true,"width":"6","collapse":false},{"id":"a0fd9b6c.b4c648","type":"slackbot-controller","z":"","name":"NodeRedBot","bot_token":"xoxb-328551924336-1073196502181-8dpCSUGIesY38nQtYwxJy8ZU"},{"id":"6f62a59.71f815c","type":"ui_group","z":"","name":"Control","tab":"9d55f959.2ec718","order":2,"disp":true,"width":"6","collapse":false},{"id":"7276a929.540798","type":"ui_tab","z":"","name":"Settings","icon":"settings","order":2,"disabled":false,"hidden":false},{"id":"e58236eb.0c5fb8","type":"ui_group","z":"","name":"Main","tab":"7276a929.540798","order":1,"disp":true,"width":"6","collapse":false},{"id":"ba513f2.8ebfec","type":"function","z":"22779578.f3d32a","name":"Reset timer and state","func":"var config = flow.get(\"config\");\nconfig.state = \"closed\";\nconfig.timer = 0;\nflow.set(\"config\", config);\n\nmsg.timer = config.timer;\n\nmsg.payload = \"stop\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":640,"wires":[["f1d84dae.33995"]]},{"id":"f1d84dae.33995","type":"mytimeout","z":"22779578.f3d32a","name":"Timer","outtopic":"","outsafe":"Start","outwarning":"Warning","outunsafe":"Stop","warning":"","timer":"5","debug":false,"ndebug":true,"ignoreCase":false,"repeat":false,"again":false,"x":550,"y":600,"wires":[["66176e74.a94ad"],["742280d.7af118","e1a4955f.00e578"]]},{"id":"f2637eb.a70328","type":"inject","z":"22779578.f3d32a","name":"5","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["a69c9766.d49fd8","2d6ff5ea.baffaa"]]},{"id":"246561b6.1263ae","type":"inject","z":"22779578.f3d32a","name":"25","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":460,"wires":[["a69c9766.d49fd8","2d6ff5ea.baffaa"]]},{"id":"31c46235.dc7f1e","type":"switch","z":"22779578.f3d32a","name":"State path","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"disabled","vt":"str"},{"t":"eq","v":"closed","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":150,"y":600,"wires":[["a79fa661.e691b8"],["41c7be25.cc50c"],["ba513f2.8ebfec"]]},{"id":"a69c9766.d49fd8","type":"function","z":"22779578.f3d32a","name":"Set state","func":"// Compare new reading to last\nvar newDistance = parseInt(msg.payload, 10);\n\n// If different, update last distance\nvar config = flow.get(\"config\");\nif (config.enabled) {\n    if (newDistance > config.openDistance) {\n        msg.payload = \"closed\";\n        msg.state = \"Closed\";\n    } else {\n        msg.payload = \"open\"\n        msg.state = \"Open\";\n    }\n\n    // node.warn(\"Set state: \" + msg.payload);\n\n    config.state = msg.payload;\n    flow.set(\"config\", config);\n} else {\n    msg.state = 'Disabled';\n    msg.payload = \"disabled\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":420,"wires":[["31c46235.dc7f1e","9aa0e594.a7a2f8","9e651dab.961b6"]]},{"id":"a79fa661.e691b8","type":"function","z":"22779578.f3d32a","name":"Set timeout payload","func":"var config = flow.get(\"config\");\n\nif (config.timer > 0) {\n    msg.timeout = config.timer;\n    msg.payload = \"on\";\n} else {\n    msg.timeout = config.maxTimeout;\n    msg.warning = config.warnTimeout;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":560,"wires":[["f1d84dae.33995"]]},{"id":"742280d.7af118","type":"switch","z":"22779578.f3d32a","name":"Output state","property":"flag","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":580,"wires":[["38e4e5a6.835f3a","bbe658b8.6d8a78"]]},{"id":"ed789a9b.5d1098","type":"rpi-gpio out","z":"22779578.f3d32a","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1140,"y":580,"wires":[]},{"id":"38e4e5a6.835f3a","type":"change","z":"22779578.f3d32a","name":"Relay On","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":580,"wires":[["ed789a9b.5d1098","ee9c1076.116f"]]},{"id":"ee9c1076.116f","type":"delay","z":"22779578.f3d32a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":640,"wires":[["b1257940.e2ba58"]]},{"id":"fff08e53.10307","type":"rpi-gpio out","z":"22779578.f3d32a","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1140,"y":700,"wires":[]},{"id":"b1257940.e2ba58","type":"change","z":"22779578.f3d32a","name":"Relay Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":700,"wires":[["fff08e53.10307"]]},{"id":"e1a4955f.00e578","type":"function","z":"22779578.f3d32a","name":"Update count","func":"var config = flow.get(\"config\");\nconfig.timer = msg.payload;\nflow.set(\"config\", config);\n\n//node.warn(\"config.timer=\" + config.timer);\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":800,"wires":[["2c23aeaf.23a3d2"]]},{"id":"6ce77bb5.5bf004","type":"inject","z":"22779578.f3d32a","name":"10","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":420,"wires":[["a69c9766.d49fd8","2d6ff5ea.baffaa"]]},{"id":"30f78ae1.360776","type":"inject","z":"22779578.f3d32a","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":500,"wires":[["a69c9766.d49fd8","2d6ff5ea.baffaa"]]},{"id":"66176e74.a94ad","type":"switch","z":"22779578.f3d32a","name":"Timer state","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Warning","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":380,"wires":[["2348831.1ac787c"]]},{"id":"adba13f7.07fe","type":"rpi-gpio out","z":"22779578.f3d32a","name":"","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1160,"y":380,"wires":[]},{"id":"b780e8f8.a46018","type":"rpi-gpio out","z":"22779578.f3d32a","name":"","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1170,"y":460,"wires":[]},{"id":"2348831.1ac787c","type":"change","z":"22779578.f3d32a","name":"Buzzer on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":380,"wires":[["5f081afa.033c44","adba13f7.07fe"]]},{"id":"218da129.51a8ce","type":"change","z":"22779578.f3d32a","name":"Buzzer Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":460,"wires":[["b780e8f8.a46018"]]},{"id":"5f081afa.033c44","type":"delay","z":"22779578.f3d32a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":420,"wires":[["218da129.51a8ce"]]},{"id":"96969fd0.8fa","type":"comment","z":"22779578.f3d32a","name":"Send warning beep","info":"Send warning beep","x":750,"y":340,"wires":[]},{"id":"17907bbd.05a474","type":"comment","z":"22779578.f3d32a","name":"Trigger relay 1s","info":"","x":760,"y":540,"wires":[]},{"id":"8bf15016.63f8a","type":"comment","z":"22779578.f3d32a","name":"Live timer tracker","info":"","x":740,"y":760,"wires":[]},{"id":"90eedcd8.768c","type":"inject","z":"22779578.f3d32a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":880,"wires":[["bbe658b8.6d8a78"]]},{"id":"bbe658b8.6d8a78","type":"function","z":"22779578.f3d32a","name":"Set slack","func":"var topic = \"chat.postMessage\";\n\nvar payload = {\n    channel: \"#general\",\n    text: \"Garage door automatically triggered\",\n};\n\nmsg = {\n  topic: topic,\n  payload: payload\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":880,"wires":[["9bd7ed62.23216"]]},{"id":"9bd7ed62.23216","type":"slack-web-out","z":"22779578.f3d32a","client":"14c979b.b790786","name":"Slack message out","x":1130,"y":880,"wires":[[]]},{"id":"76971b1a.47e014","type":"rpi-gpio out","z":"ee670a5e.b978d8","name":"","pin":"38","set":true,"level":"0","freq":"","out":"out","x":470,"y":80,"wires":[]},{"id":"2d6dbb42.3ebb84","type":"inject","z":"22779578.f3d32a","name":"INIT","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":140,"wires":[["ef4bc519.b02748","73cdf7c2.1c1ab8"]]},{"id":"7d7d3e4d.91ea8","type":"function","z":"22779578.f3d32a","name":"Init config","func":"// Persistent parameters from file\n// maxTimeout, warnTimeout, openDistance\n\nvar config = msg.payload;\n\n// Add runtime parameters\nconfig.timer = 0;\nconfig.state = \"open\";\nconfig.enabled = true;\n\n// Save it where we can get at it\nflow.set(\"config\", config);\n\n// Outputs:\n//  - enabled\n//  - maxTimeout\n//  - warnTimeout\nvar enabled     = {\"payload\" : config.enabled };\nvar maxTimeout  = {\"payload\" : config.maxTimeout / 60};\nvar warnTimeout = {\"payload\" : config.warnTimeout};\n\nreturn [enabled, maxTimeout, warnTimeout];","outputs":3,"noerr":0,"x":600,"y":140,"wires":[["59bd9297.0c4b2c"],["fa37af7d.2f22e"],["47676719.b7c418"]]},{"id":"f6372b4c.58d578","type":"rpi-gpio out","z":"22779578.f3d32a","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":520,"y":20,"wires":[]},{"id":"95b3663e.5cb9d8","type":"rpi-gpio out","z":"22779578.f3d32a","name":"","pin":"38","set":true,"level":"0","freq":"","out":"out","x":520,"y":80,"wires":[]},{"id":"ef4bc519.b02748","type":"file in","z":"22779578.f3d32a","name":"","filename":"garage.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":270,"y":140,"wires":[["f1317117.a2ad7"]]},{"id":"f1317117.a2ad7","type":"json","z":"22779578.f3d32a","name":"","property":"payload","action":"","pretty":false,"x":430,"y":140,"wires":[["7d7d3e4d.91ea8"]]},{"id":"16aa0012.8acc3","type":"debug","z":"22779578.f3d32a","name":"Display Config","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":200,"wires":[]},{"id":"77cbe521.2a03ec","type":"inject","z":"22779578.f3d32a","name":"Trigger Config Dump","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["67412cf.251a8d4"]]},{"id":"67412cf.251a8d4","type":"function","z":"22779578.f3d32a","name":"Load msg","func":"var config = flow.get(\"config\");\nmsg.payload = config;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":200,"wires":[["16aa0012.8acc3"]]},{"id":"771c4fd7.83388","type":"ui_button","z":"22779578.f3d32a","name":"","group":"6f62a59.71f815c","order":4,"width":"3","height":"1","passthru":false,"label":"Door","tooltip":"","color":"","bgcolor":"#87A980","icon":"directions_car","payload":"1","payloadType":"num","topic":"","x":730,"y":660,"wires":[["38e4e5a6.835f3a"]]},{"id":"93bd2567.8543d8","type":"ui_button","z":"ee670a5e.b978d8","name":"","group":"6f62a59.71f815c","order":5,"width":"3","height":"1","passthru":false,"label":"Buzzer Off","tooltip":"","color":"","bgcolor":"red","icon":"volume_off","payload":"0","payloadType":"num","topic":"","x":150,"y":80,"wires":[["76971b1a.47e014"]]},{"id":"9aa0e594.a7a2f8","type":"ui_text","z":"22779578.f3d32a","group":"56844deb.6e0504","order":1,"width":0,"height":0,"name":"","label":"Door State","format":"{{msg.state}}","layout":"row-spread","x":490,"y":420,"wires":[]},{"id":"2c23aeaf.23a3d2","type":"ui_text","z":"22779578.f3d32a","group":"56844deb.6e0504","order":2,"width":0,"height":0,"name":"","label":"Timer","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":800,"wires":[]},{"id":"2d6ff5ea.baffaa","type":"ui_gauge","z":"22779578.f3d32a","name":"","group":"56844deb.6e0504","order":3,"width":0,"height":0,"gtype":"gage","title":"Distance","label":"cm","format":"{{value}}","min":0,"max":"300","colors":["#ff2600","#e6e600","#00be00"],"seg1":"","seg2":"","x":300,"y":320,"wires":[]},{"id":"de07ad23.1fc64","type":"rpi-srf","z":"22779578.f3d32a","name":"Distance Sensor","topic":"SRF","pulse":"2","pins":"7,11","x":80,"y":320,"wires":[["2d6ff5ea.baffaa","a69c9766.d49fd8"]]},{"id":"1ce4d81e.b81cc8","type":"function","z":"22779578.f3d32a","name":"Enable/Disable","func":"var config = flow.get(\"config\");\nconfig.enabled = msg.payload;\nflow.set(\"config\", config);\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":260,"wires":[[]]},{"id":"59bd9297.0c4b2c","type":"ui_switch","z":"22779578.f3d32a","name":"Monitoring Enabled","label":"Enabled","tooltip":"","group":"6f62a59.71f815c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":780,"y":260,"wires":[["1ce4d81e.b81cc8"]]},{"id":"9e651dab.961b6","type":"function","z":"22779578.f3d32a","name":"Display Enabled","func":"var config = flow.get(\"config\");\nmsg.payload = config.enabled;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":320,"wires":[["59bd9297.0c4b2c"]]},{"id":"41c7be25.cc50c","type":"function","z":"22779578.f3d32a","name":"Disable","func":"var config = flow.get(\"config\");\nconfig.state = \"disabled\";\nconfig.timer = 0;\nflow.set(\"config\", config);\n\nmsg.timer = config.timer;\n\nmsg.payload = \"stop\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":600,"wires":[["f1d84dae.33995"]]},{"id":"8072f2a8.b5eda","type":"file","z":"22779578.f3d32a","name":"Write config","filename":"garage.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":610,"y":960,"wires":[[]]},{"id":"f56a1d2.4e42ee","type":"json","z":"22779578.f3d32a","name":"","property":"payload","action":"str","pretty":true,"x":450,"y":960,"wires":[["8072f2a8.b5eda"]]},{"id":"73cdf7c2.1c1ab8","type":"function","z":"22779578.f3d32a","name":"Default GPIO Output","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":60,"wires":[["f6372b4c.58d578","95b3663e.5cb9d8"]]},{"id":"b722db27.2c5bc8","type":"ui_button","z":"22779578.f3d32a","name":"Save","group":"e58236eb.0c5fb8","order":5,"width":0,"height":0,"passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"fa-floppy-o fa-2x","payload":"","payloadType":"str","topic":"","x":90,"y":960,"wires":[["3b8e3b02.6a79f4"]]},{"id":"3b8e3b02.6a79f4","type":"function","z":"22779578.f3d32a","name":"Construct payload","func":"var config = flow.get(\"config\");\n\nmsg.payload = {\n    \"openDistance\" : config.openDistance,\n    \"maxTimeout\" : config.maxTimeout,\n    \"warnTimeout\" : config.warnTimeout\n};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":960,"wires":[["f56a1d2.4e42ee"]]},{"id":"fa37af7d.2f22e","type":"ui_slider","z":"22779578.f3d32a","name":"Max Timeout","label":"Max timeout","tooltip":"","group":"e58236eb.0c5fb8","order":1,"width":"0","height":"0","passthru":true,"outs":"all","topic":"","min":"1","max":"30","step":1,"x":790,"y":100,"wires":[["da613d23.24835","d5b3fcf4.193c8"]]},{"id":"da613d23.24835","type":"ui_text","z":"22779578.f3d32a","group":"e58236eb.0c5fb8","order":2,"width":0,"height":0,"name":"Max timeout val","label":"Minutes","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":100,"wires":[]},{"id":"47676719.b7c418","type":"ui_slider","z":"22779578.f3d32a","name":"Warning timeout","label":"Warning timeout","tooltip":"","group":"e58236eb.0c5fb8","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":800,"y":200,"wires":[["466a07a.12163f8","340a4851.501ba8"]]},{"id":"466a07a.12163f8","type":"ui_text","z":"22779578.f3d32a","group":"e58236eb.0c5fb8","order":4,"width":0,"height":0,"name":"","label":"Seconds","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":200,"wires":[]},{"id":"d5b3fcf4.193c8","type":"function","z":"22779578.f3d32a","name":"Set maxTimeout","func":"var config = flow.get(\"config\");\n\nconfig.maxTimeout = msg.payload * 60;\n\nflow.set(\"config\", config);","outputs":1,"noerr":0,"x":1020,"y":60,"wires":[[]]},{"id":"340a4851.501ba8","type":"function","z":"22779578.f3d32a","name":"Set warnTimeout","func":"var config = flow.get(\"config\");\nconfig.warnTimeout = msg.payload;\n\nflow.set(\"config\", config);\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":160,"wires":[[]]}]